.avatar {
    border-radius: 50%;
    width: 100px;
    margin-top: 30px;
}

.user-page {
    font-family: 'Bellota Text', Arial, sans-serif;  
    background-color: var(--background-color-offset);
    max-width: 500px;
    margin: 20px auto;
    color: var(--offset-text);
    border-color: black;
    border-width: 1px;
    padding: 20px 0px;   
    text-align: center; 
}

.user-form {
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
    /* border-style: solid; */
    margin: auto;
}

.user-form li input {
    border-style: solid;
    border-width: 1px;
    border-color: var(--light-border);
    background-color: var(--background-color);
    padding-left: 5px;
}

.user-form li {
    padding-left: 20px;
    list-style-type: none;
    text-align: left;
}

.user-form button {
    /* width: 50%; */
    /* height: 40px; */
    /* margin: 30px auto 20px; */
    /* padding: 20px; */
    /* margin: auto; */
    background-color: var(--main-background);
    font-weight: bold;
    color: var(--main-text);
    /* box-shadow: 5px 5px 2px lightblue ; */
    box-shadow: 5px 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    border-style: none;
    /* padding: 4px; */
    grid-column-start: 1;
    grid-column-end: -1
    
    /* justify-content: center; */
    
}

.user-form button:hover {
    background-color: var(--main-button-hover);
}

/* .text-input {

} */
