.project-card {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Montserrat', Arial, sans-serif; 
    background-color: var(--background-color-offset);
    border-radius: 4px;
    margin-bottom: 8px;
}

.project-card a {
    text-decoration: none;
    color: var(--offset-text);
    display: inline;
}

.project-card a:hover {
    text-decoration: none;
    background-color: var(--background-color-offset);
    color: var(--main-button-hover);
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}

.project-card img {
    width: 95%;
    height: 200px;
    object-fit: cover;
    padding-bottom: 0px;
    margin: auto;
    padding-top: 6px;
    border-radius: 4px;
}

.project-card h3 {
    font-size: 0.9rem;
    margin: auto;
    width: 90%;
    padding-bottom: 8px;
    
}

.project-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .project-card h3 {
        padding: 8px 8px;
        margin: 8px 8px;
    }

    .project-card {
        margin-bottom: 0px;
    }
}
