.main-section {
    width: 70%;
    font-family: 'Montserrat', Arial, sans-serif;  
    background-color: var(--main-background-offset); 
    color: var(--offset-text);
    margin: auto;
    padding: 48px;
    
}

.main-section p {
    font-size: 1.2rem;
    text-align: left;
    margin: 5% 10%;
    
}

.headline {
    font-family: 'Bellota', Arial, sans-serif;  
    font-weight: bold;  
}

.image-headline {
    height: 100px;
}

.image-headline:hover {
    animation: Shake 0.7s linear infinite;
}

.main-section h3 {
    font-size: 1.8rem;  
    font-weight: bold;  
    font-family: 'Bellota Text', Arial, sans-serif;      
    
}

.main-section img {
    object-fit: contain;  
    width: 70%;  
    margin: auto;
}


