/* :root {
    --background-color-offset: white;

} */

.project-card section {
    color: var(--main-button-hover);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    margin: 8px;
}

.project-card section h3 {
    margin: 0px;
    padding: 0px;
    padding-right: 20px;
}

/* .pledge-card {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Montserrat', Arial, sans-serif; 
    background-color: var(--background-color-offset);
    border-radius: 4px;
    margin: 8px;
}

.pledge-project {
    padding-top: 8px;
    margin: 0px;
}

.pledge-project h3 {
    padding: 0px;
    margin: 0px;
}

.pledge-project a {
    text-decoration: none;
    color: var(--main-button-hover);
    padding: 0px;
    margin: 0px;
    /* padding-bottom: 0px;
    margin-bottom: 0px; */
    display: inline;
}

.pledge-project a:hover {
    text-decoration: none;
    background-color: var(--background-color-offset);
    /* color: var(--offset-text); */
    color: var(--offset-text);
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}

.pledge-card img {
    width: 95%;
    height: 200px;
    object-fit: cover;
    padding-bottom: 0px;
    margin: auto;
    padding-top: 6px;
    border-radius: 4px;
}

.pledge-detail h3 {
    color: var(--offset-text);
}

.pledge-detail a {
    text-decoration: none;
    /* color: var(--offset-text); */
    /* padding-bottom: 0px;
    margin-bottom: 0px; */
    display: inline;
}

.pledge-detail a:hover {
    text-decoration: none;
    background-color: var(--background-color-offset);
    /* color: var(--offset-text); */
    color: var(--main-button-hover);
    padding-bottom: 0px;
    margin-bottom: 0px;  
}

.pledge-detail article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;   
    padding-bottom: 4px;
}

.pledge-amount {
    justify-content: left;
    /* border-style: solid; */
}

.pledge-amount h3 {
    margin: 0px;
}

.pledge-icons {
    display: flex;
    justify-content: right;
    /* border-style: solid; */
}


@media (min-width: 768px) {
    .pledge-card h3 {
        /* padding: 8px 8px;
        margin: 8px 8px; */
        /* border-style: solid; */
        
    }
} */
