.project-card section {
    color: var(--main-button-hover);
    display: flex;
    align-items: center;
}

.project-card h3 {
    margin: 0px;
    padding-bottom: 8px;
}

.pledge-project a:hover {
    text-decoration: none;
    background-color: var(--background-color-offset);
    color: var(--offset-text);
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}

.pledge-detail h3 {
    color: var(--offset-text);
}

.pledge-detail a {
    text-decoration: none;
}

.pledge-detail a:hover {
    text-decoration: none;
    background-color: var(--background-color-offset);
    color: var(--main-button-hover);
    padding-bottom: 0px;
    margin-bottom: 0px;  
}

.pledge-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;   
    padding-top: 4px;
    padding-bottom: 4px;
}

.pledge-amount h3 {
    color: var(--main-button-hover);
    font-weight: bold;
    text-wrap: nowrap;
}

.pledge-icons {
    display: flex;
    align-items: center;
}

.pledge-icons button {
    margin: 0px;
}


@media (min-width: 768px) {
    .project-card section {
        margin-bottom: 0px;
    }
} 
