.nav-bar {
    width: 100%;
    font-family: 'Montserrat', Arial, sans-serif; 
    display: flex;   
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;    
}

.nav-bar ul {
    display: flex;   
    flex-direction: row; 
    align-items: center;
    padding-left: 0px;
}

.nav-bar li {
    vertical-align: middle;
    list-style-type: none;
}

.nav-bar a {
    text-wrap: nowrap;
    font-weight: bold;
    padding: 4px 20px;
}

.nav-bar a:hover {
    background-color: var(--main-button-hover);
    border-radius: 2px;
    padding: 4px 20px;
}

.image-nav:hover {
    animation: Shake 0.7s linear infinite;
}

.nav-logo-text {
    font-family: 'Bellota', Arial, sans-serif;  
    font-weight: normal;
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
}

.nav-logo-text img {
    height: 35px;
    vertical-align: middle;
}

.login-button {
    border-style: solid;
    border-radius: 3px;
    border-width: 2px;
    border-color: var(--main-button);
    margin-left: 8px;
    text-wrap: nowrap;
}

.login-button:hover {
    background-color: var(--main-button-hover);
    padding: 0px 20px;
}

.left-nav {
    justify-content: flex-start;
    display: flex;
    flex-direction: row; 
}

.right-nav {
    justify-content: flex-end;
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding-right: 30px;
}

.centre-nav {
    justify-content: center;
    display: flex;
    flex-direction: row; 
    align-items: center;
    width: 100%;
}

.user-svg {
    height: 30px;
    vertical-align: middle;
    padding-right: 5px;
}

.display-none {
    display: none;
}

.menu-icon {
    height: 30px;
    align-self: center;
    transition: all 2s ease-out;
    transform: rotate(180deg);
    background-color: var(--body-bg-color);
}

.menu-close {
    height: 30px;
    align-self: center;
    transition: all 2s ease-out;   
    transform: rotate(180deg); 
}

.desktop-nav {
    display: none;
    margin-left: 32px;
}

.mobile-nav {
    position: absolute;
    right: 0px;
    background-color: var(--main-background); 
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;    
}

.mobile-nav svg {
    height: 22px;
}

.mobile-nav a {
    font-family: 'Montserrat', Arial, sans-serif; 
    font-weight: normal;
    display: block;
    text-align: center;
    border-bottom: 1px solid var(--main-border-nav);
    padding: 8px;
    transition: all 1s ease;
    width: 91%;
}

.mobile-nav a:hover {
    background-color: var(--main-button-hover);
}

.mobile-nav ul {
    padding: 0px;
    margin-left: 0px;
    width: auto;
}

.mobile-nav li {
    list-style-type: none;

}

.mobile-header {
    margin: auto;
    width: 95%;
    padding-top: 0px;
    border-bottom: 1px solid var(--body-bg-color);
}

.mobile-about {
    border-top: 1px solid var(--main-border-nav);
}

.menu-button, .menu-close-button {
    all: unset;
    cursor: pointer;
}

.nav-icons  {
    height: 30px;
    align-self: right;
    display: flex;
    justify-content: right;
}


@media (min-width: 768px) {
    .mobile-header {
        width: 100%;
        margin: auto;
    }    

    .mobile-nav {
        display:none;
    }

    .menu-icon, .menu-close {
        display: none;
    }    

    .nav-bar {
        display: flex;
    }

    .left-nav, .right-nav {
        display: block;
    }

}

.navbar {
    overflow: hidden;
    background-color: var(--main-background);
    font-family: Arial;
  }
    
.navbar a {
    float: left;
    color: var(-main-text);
    text-align: center;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
    font-family: 'Montserrat', Arial, sans-serif; 
}
  
.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: var(--main-text);
    padding-right: 23px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--main-button-hover);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-background-offset); 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: normal;
}

.dropdown-content a {
float: none;
color: var(--offset-text);
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
font-weight: normal;
}

.dropdown-content a:hover {
background-color: var(--main-button-hover);
padding: 12px 16px;
color: var(--main-text);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}

.dropbtn {
text-wrap: nowrap;
}

.dropdown-chevron {
height: 20px;
padding-top: 8px;
}