.nav-bar {
    width: 100%;
    font-family: 'Montserrat', Arial, sans-serif; 
    /* border-style: solid; */
    display: flex;   
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;    
}

.nav-bar ul {
    display: flex;   
    flex-direction: row; 
    /* justify-content: center; */
    align-items: center;
    /* border-style: solid; */
    padding-left: 0px;
}

.nav-bar li {
    vertical-align: middle;
    /* padding: 0px 10px; */
    list-style-type: none;
    /* border-style: solid; */
}

.nav-bar a {
    /* text-decoration: none; */
    /* border-style: solid; */
    text-wrap: nowrap;
    font-weight: bold;
    padding: 4px 20px;
    /* width: 10px; */
    /* cursor: url(../../assets/fundling-website-favicon-black.png) 40 40, move, auto; */
}

.nav-bar a:hover {
    background-color: var(--main-button-hover);
    border-radius: 2px;
    padding: 4px 20px;
}

.image-nav:hover {
    animation: Shake 0.7s linear infinite;
}

.nav-logo-text {
    /* font-size: 1rem; */
    font-family: 'Bellota', Arial, sans-serif;  
    font-weight: normal;
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
}

.nav-logo-text img {
    height: 35px;
    vertical-align: middle;
}

.login-button {
    border-style: solid;
    border-radius: 3px;
    border-width: 2px;
    border-color: var(--main-button);
    /* padding: 4px 20px; */
    margin-left: 8px;
    text-wrap: nowrap;
}

.login-button:hover {
    background-color: var(--main-button-hover);
    padding: 0px 20px;
}

.left-nav {
    justify-content: flex-start;
    display: flex;
    flex-direction: row; 
    /* border-style: solid; */
}

.right-nav {
    justify-content: flex-end;
    display: flex;
    flex-direction: row; 
    /* border-style: solid; */
    align-items: center;
    padding-right: 30px;
}

.centre-nav {
    justify-content: center;
    display: flex;
    flex-direction: row; 
    /* border-style: solid; */
    align-items: center;
    width: 100%;
}

.user-svg {
    height: 30px;
    vertical-align: middle;
    padding-right: 5px;
}

.display-none {
    display: none;
}

.menu-icon {
    height: 30px;
    margin-left: 32px;
    align-self: center;
    transition: all 2s ease;
    background-color: var(--body-bg-color);
}

.menu-close {
    height: 30px;
    margin-left: 32px;
    align-self: center;
    transition: all 2s ease;    
    /* display: none; */
}

.desktop-nav {
    display: none;
    margin-left: 32px;
}

.mobile-nav a {
    font-family: 'Montserrat', Arial, sans-serif; 
    font-weight: normal;
    display: block;
    color: var(--body-bg-color);
    background-color: var(--text-color);
    /* padding: 4px 16px; */
    text-align: center;
    border-bottom: 1px solid var(--main-border-nav);
    padding: 8px;
    transition: all 1s ease;
    width: 100%;
}

.mobile-nav a:hover {
    background-color: var(--main-button-hover);
}

.mobile-nav ul {
    padding: 0px;
    margin-left: 0px;
    width: auto;
}

.mobile-nav li {
    list-style-type: none;

}

.mobile-header {
    /* padding: 16px; */
    margin: auto;
    width: 95%;
    padding-top: 0px;
    /* display: flex; */
    /* align-items: left; */
    /* justify-content: space-between; */
    border-bottom: 1px solid var(--body-bg-color);
    /* border-style: solid;
    border-color: red; */
}

.mobile-about {
    border-top: 1px solid var(--main-border-nav);
}

.menu-button, .menu-close-button {
    all: unset;
    cursor: pointer;
}

.nav-icons  {
    height: 30px;
    align-self: right;
    display: flex;
    justify-content: right;
}


@media (min-width: 768px) {
    .mobile-header {
        /* align-items: center; */
        /* justify-content: space-right; */
        width: 100%;
        margin: auto;
        /* padding: 16px 56px; */
    }    

    .mobile-nav {
        display:none;
    }

    .menu-icon, .menu-close {
        display: none;
    }    

    .nav-bar {
        display: flex;
    }

    .left-nav, .right-nav {
        display: block;
    }

}