.footer {
    width: 100%;
    /* border-style: solid; */
    font-family: 'Montserrat', Arial, sans-serif;  
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer ul {
    display: flex;   
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

.footer li {
    /* display: inline-block; */
    vertical-align: middle;
    padding: 0px 56px;
    list-style-type: none;
}

.footer a {
    /* text-decoration: none;    */
    padding: 4px 20px;
    cursor: url(../assets/fundling-website-favicon-black.png) 40 40, pointer, auto;
}

.footer a:hover {
    background-color: var(--main-button-hover);
}

.image-footer:hover {
    animation: Shake 0.7s linear infinite;
}

.logo-text  {
    font-family: 'Bellota', Arial, sans-serif;  
    font-weight: bold;
    font-size: 20px;
}

.logo-text img {
    height: 40px;
    vertical-align: middle;
}


