.signup-form {
    font-family: 'Bellota', Arial, sans-serif;  
    background-color: var(--background-color-offset);
    max-width: 400px;
    margin: 20px auto;
    color: var(--offset-text);
    border-color: black;
    border-width: 1px;
    padding: 20px 0px;
}

.signup-form h3 {
    padding-bottom: 20px;
}

.signup-form div {
    width: 80%;
    margin: auto;
}

.signup-form input {
    height: 32px;
    margin-bottom:20px;
    width: 80%;
    padding-left: 12px;
}

.signup-form button {
    width: 68%;
    height: 40px;
    margin-bottom: 40px;
    background-color: var(--main-background);
    font-weight: bold;
    color: var(--main-text);
    /* box-shadow: 5px 5px 2px lightblue ; */
    box-shadow: 5px 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    border-style: none;
    padding: 4px;
}

.signup-form button:hover {
    background-color: var(--main-button-hover);
}
