.avatar {
    border-radius: 50%;
    width: 100px;
    margin-top: 30px;
}

.project-page {
    font-family: 'Bellota Text', Arial, sans-serif;  
    background-color: var(--background-color-offset);
    max-width: 500px;
    margin: 20px auto;
    color: var(--offset-text);
    border-color: black;
    border-width: 1px;
    padding: 20px 0px;   
    text-align: center; 
}

.project-header h3 {
    font-family: Arial, sans-serif;  
}

.project-error {
    font-family: 'Bellota Text', Arial, sans-serif; 
    width: 70%;
    margin: auto;
    vertical-align: middle;
    background-color: var(--background-color-offset);
    color: var(--offset-text);
    padding-top: 10px;
    padding-bottom: 30px;
}
