@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&display=swap');

/* Base styles across all pages */
:root {
	--main-text: white;
	--main-background: #9fcae6;
	--main-button: #ffdfb9;
    --main-background-offset: white;
    --offset-text: #373737;
    --main-button-hover: #82BEE6;
    --main-divider: lightblue;
    --background-color-offset: white;
    --main-text-dark: #82BEE6;
    --light-border: #9fcae6;
}


body {
    background-color: var(--main-background);
    /* font-family: 'Inter', Arial, sans-serif;  */
    color: var(--main-text);
    text-decoration: none;  
    text-align: center;  
    /* cursor: url(../assets/fundling-website-favicon-black.png) 40 40, auto; */
}

body a {
    color: var(--main-text);
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-family: 'Bellota', Arial, sans-serif;  
    font-size: 4rem;
}

h2, h3 {
    font-family: 'Bellota Text', Arial, sans-serif;  
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.2rem;
}

@keyframes Shake {
    0% {
        transform: rotate(5deg);
    }
  
    25% {
        transform: translate(-5px, 0px) rotate(-6deg);
    }
  
    50% {
        transform: rotate(5deg);
    }
  
    75% {
        transform: translate(-5px, 1px) rotate(-6deg);
    }
  
    100% {
        transform:   rotate(5deg);
    }
}

#project-list {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 16px;
    row-gap: 16px;
    width: 100%;
    margin: auto;
    /* border-style: solid; */
    /* border-color: red; */
    /* text-align: center; */
}

.home-box {
    margin: auto;
    width: 70%;
    /* border-style: solid; */
}

.small-icons {
    height: 20px;
    vertical-align: middle;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    /* background-color: var(--background-color-offset); */
    color: var(--offset-text);
    /* text-align-last: right; */
    /* text-align: justify;
    justify-content: right; */
}

.small-icons:hover {
    /* background-color: white; */
    color: var(--main-button-hover);

}



.button-icons {
    /* 
    color: var(--main-button-hover); */
    background-color: var(--background-color-offset);
    border-style: none;
    /* border-width: 1px; */
    border-color: var(--main-button-hover);
    height: 100%;
    /* text-align-last: right; */
    /* text-align: justify;
    justify-content: right; */
}

.button-icons:hover { 
    /* background-color: var(--background-color-offset); */
    color: var(--main-button-hover);
    /* border-style: none;
    height: 100%; */
    /* text-align-last: right; */
    /* text-align: justify;
    justify-content: right; */
 }