.bar-container {
    height: 20px;
    width: 80%;
    background-color: #e0e0de;
    border-radius: 50px;
    margin: 20px auto;
    /* margin: 50px; */
}

.bar-filler {
    height: 100%;
    /* width: ''; */
    background-color: var(--main-background);
    border-radius: inherit;
    text-align: right;
}

.bar-label {
    padding: 5px;
    color: var(--main-text);
    font-weight: bold;
    vertical-align: top;
}

.star {
    color: var(--main-button);
    height: 18px;
    vertical-align: top;
}

.goal-text {
    text-align: center;
}