.project-page {
    font-family: 'Bellota Text', Arial, sans-serif;  
    background-color: var(--background-color-offset);
    max-width: 500px;
    margin: 20px auto;
    color: var(--offset-text);
    border-color: black;
    border-width: 1px;
    padding: 20px 0px;   
    text-align: center; 
}

.project-form p {
    font-family: 'Bellota Text', Arial, sans-serif; 
    text-align: left; 
    width: 60%;
    margin: auto;
    padding-bottom: 20px;
}

.project-text {
    padding: 16px 32px 25px 42px;
    font-family: 'Bellota Text', Arial, sans-serif; 
    text-align: left; 
    width: 85%;
    margin: auto;
 }


.project-form button:hover {
    background-color: var(--main-button-hover);
}
 
