.map {
    padding-top: 40px;
}

.map iframe {
    width: 90%;
    border-style: none;
    border-width: 1px;
}

.main-section {
    width: 75%;
    display: flex;
    flex-direction: column;
    /* border-style: solid; */
    margin: auto;
}

.contact-form {
    width: 90%;
    /* display: grid;
    grid-template-columns: 1 ; */
    display: flex;
    flex-direction: column;
    /* border-style: solid; */
    margin: auto;
}

@media (min-width: 768px) {
    .main-section {
        width: 60%;
        display: flex;
        flex-direction: column;
        /* border-style: solid; */
        margin: auto;
    }

    .contact-form {
        width: 80%;
        /* display: grid;
        grid-template-columns: 1 ; */
        display: flex;
        flex-direction: column;
        /* border-style: solid; */
        margin: auto;
    }    

    .map iframe {
        width: 80%;
        border-style: none;
        border-width: 1px;
    }

    
}

.contact-form input {
    width: 100%;
}

.contact-form textarea {
    width: 100%;
}

.contact-form button {
    height: 40px;
    background-color: var(--main-background);
    font-weight: bold;
    color: var(--main-text);
    box-shadow: 5px 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    border-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-form button:hover {
    background-color: var(--main-button-hover);
}
